// -----------------------------------------------------------------------------
// Basic Typography Style For Copy Text
// -----------------------------------------------------------------------------

body {
    font-family: blabla
}

p {
    @include margin;
}

html {
    font-size: 100%;
}

body {
    background-color: $bg;
    font-weight: 400;
    line-height: $lh;
    color: $color;
}

p {
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    line-height: $lh;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

small {
    font-size: $small;
}
