/****************************************************
 *
 * Header
 *
 * *************************************************/

.skip-link {
    display: none;
}

#masthead {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include padding;
}

.site-branding {
}

.site-title {

    @include margin;

    a {
        color: inherit;
    }
}

.site-description {
}

/**************************
 * Navigation Desktop
**************************/

#site-navigation {
    width: 50%;

    @include respond(tablet) {
        display: none;
    }
}

#menu-header-menu {
    @include flex(center, flex-end);
    width: auto;

    li {
        padding: 0 1% 0 0;

        &:last-child {
            padding: 0 0 0 0;
        }
    }
}

/**************************
 * Navigation Mobile
**************************/
#site-navigation-mobile {
    align-items: center;
    background-color: red;
    display: none;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;

    &.is-active {
        display: flex;
    }
}

